<div class="card">
  <div class="card-header  bg-success">
    <h3 class="card-title">List Of Client(s)</h3>

  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <table id="example1" class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>Loan No.</th>
        <th>Rendering engine</th>
        <th>Browser</th>
        <th>Platform(s)</th>
        <th>Engine version</th>
        <th>CSS grade</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><a ng-href="#!/client/0000001">00000001</a></td>
        <td>Trident</td>
        <td>Internet
          Explorer 4.0
        </td>
        <td>Win 95+</td>
        <td> 4</td>
        <td>X</td>
        <td>Approved</td>
      </tr>
      <tr>
        <td><a href="">00000002</a></td>
        <td>Trident</td>
        <td>Internet
          Explorer 5.0
        </td>
        <td>Win 95+</td>
        <td>5</td>
        <td>C</td>
      <td>Pending</td>
      </tr>
      </tfoot>
    </table>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->