<!-- SELECT2 EXAMPLE -->
<div class="card card-success">
  <div class="card-header">
    <h3 class="card-title">Send credentials to client</h3>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Enter Client Email Address</label>
          <input type="email" class="form-control" id="inputEmail3" placeholder="fcp@gmail.com">
        </div>
        <button type="submit" class="btn btn-success">Send Email</button>
        <!-- /.form-group -->
      </div>
    </div>    
  </div>
<!-- /.card -->
