<div class="card">
  <div class="card-header  bg-success">
    <h3 class="card-title">List Of Investor(s)</h3>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Wallet</th>
        <th>Terms</th>
        <th>Interest</th>
        <th>Date Created</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Juan Dela Cruz</td>
        <td>10.000 PHP</td>
        <td>3 Months</td>
        <td>10 %</td>
        <td>June 1, 2018</td>
        <td>Approved</td>
      </tr>
      <tr>
        <td>Juan Dela Cruz</td>
        <td>10.000 PHP</td>
        <td>3 Months</td>
        <td>10 %</td>
        <td>June 1, 2018</td>
        <td>Approved</td>
      </tr>
      </tfoot>
    </table>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->