<div class="card">
  <div class="card-header  bg-success">
    <h3 class="card-title">Loan Information</h3>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
   	<div class="row">
   		<div class="col-md-9">
        <p>Loan No : <b>000001</b> | <i class="text-success">For Approval</i></p>
        <p>Loan Type : <b>Personal Loan</b></p>
   		</div>
      <div class="col-md-3">
        <div class="btn-group float-right">
          <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Approval
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Approve</a>
            <a class="dropdown-item" href="#">Release</a>
            <a class="dropdown-item" href="#">Paid</a>
          </div>
        </div>
      </div>
   	</div>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header  bg-success">
           Profile
          </div>
          <div class="card-body">
            <p>Name : Juan Dela Cruz</p>
            <p>Birthdate : June 1, 1922</p>
            <p>Email Address : test@gmail.com</p>
            <p>Contact #: 0921122222</p>
            <p>Job : <b>Sales</b></p>
            <p>Current Employer : <b>TechNoHub</b></p>
            <p>No. tenure: 3 Years</p>
            <p>Company Contact : 3 Years</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header  bg-success">
            Loan
          </div>
          <div class="card-body">
            <p>Applied @ : <b>June 1, 2018</b></p>
            <p>Amount : <b>10.000 PHP</b></p>
            <p>Terms : 3 Months</p>
            <p>Interest : <i>10 %</i></p>
          </div>
        </div>
        <div class="card">
          <div class="card-header  bg-success">
            Bank Info
          </div>
          <div class="card-body">
            <p>Bank: BPI</p>
            <p>Account Name : <b>Juan Dela Cruz</b></p>
            <p>Account # : <b>0002233</b></p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="card-header  bg-success">
            Document Archive
          </div>
          <div class="card-body">
            <p>Docs 1: <b>License.jpg</b></p>
            <p>Docs 2: <b>License.jpg</b></p>
            <p>Docs 3: <b>License.jpg</b></p>
          </div>
        </div>
      </div>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->
</div>