<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
  <!-- Add icons to the links using the .nav-icon class
       with font-awesome or any other icon font library -->
  <li class="nav-item has-treeview menu-open">
  
    <li class="nav-header">ADMINISTRATOR</li>
    <li class="nav-item">
      <a href="#!email-link" class="nav-link">
        <i class="nav-icon fa fa-at"></i>
        <p>
          Email Link
        </p>
        <span class="badge badge-success right">2</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#!loan-category" class="nav-link">
        <i class="nav-icon fa fa-at"></i>
        <p>
          Loan Category
        </p>
      </a>
    </li>
    <li class="nav-item">
      <a href="#!client" class="nav-link">
        <i class="nav-icon fa fa-user"></i>
        <p>
          Client
        </p>
        <span class="badge badge-success right">2</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#widget" class="nav-link">
        <i class="nav-icon fa fa-briefcase"></i>
        <p>
          Investor
        </p>
        <span class="badge badge-success right">2</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#widget" class="nav-link">
        <i class="nav-icon fa fa-calendar"></i>
        <p>
          Calendar
        </p>
      </a>
    </li>
    <li class="nav-item">
      <a href="#widget" class="nav-link">
        <i class="nav-icon fa fa-money"></i>
        <p>
          Wallet
        </p>
      </a>
    </li>
  </li>
  <li class="nav-item has-treeview menu-open">
    <li class="nav-header">INVESTOR</li>
    <li class="nav-item">
      <a href="#widget" class="nav-link">
        <i class="nav-icon fa fa-map-marker"></i>
        <p>
          Marketplace
        </p>
        <span class="badge badge-info right">2</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#widget" class="nav-link">
        <i class="nav-icon fa fa-money"></i>
        <p>
          Wallet
        </p>
        <span class="badge badge-info right">2</span>
      </a>
    </li>
  </li>
  <li class="nav-item has-treeview menu-open">
  
    <li class="nav-header">Borrower</li>
    <li class="nav-item">
      <a href="#widget" class="nav-link">
        <i class="nav-icon fa fa-user-circle"></i>
        <p>
          Profile
        </p>
        <span class="badge badge-info right">2</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#widget" class="nav-link">
        <i class="nav-icon fa fa-file"></i>
        <p>
          Documents
        </p>
        <span class="badge badge-info right">2</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="#widget" class="nav-link">
        <i class="nav-icon fa fa-book"></i>
        <p>
          Loan Book
        </p>
        <span class="badge badge-info right">2</span>
      </a>
    </li>
  </li>
</ul>